.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .center{
    max-width: 650px;
    margin: 96px auto;
    min-height: 60vh;
    text-align: center;
    justify-content: center;
    padding: 16px;
  }
.paragraph{
    font-size: large;
    padding: 20px;
}
.ct{
  text-align: -webkit-center;
}
.sectionmt{
  margin-top: 20px
}