<div class="container-fluid center">
  <div class="row">
    <div class="col-8 ct">
      <p class="paragraph">
        Stock analysis and screening tool for investors in India.
      </p>
      <form class="example-form" (ngSubmit)="submitSearch()">
        <mat-form-field class="example-full-width">
          <mat-label>Search for a company</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button type="submit">Search</button>
      </form>
    </div>
    <!--  -->
    <mat-card class="sectionmt" *ngIf="section">
      <mat-card-header>
        <mat-card-title>{{sectionHead}}</mat-card-title>
      </mat-card-header>
      <mat-list>
        <mat-list-item> Market Cap </mat-list-item>
        <mat-list-item> Current Market Price of stock </mat-list-item>
        <mat-list-item> Dividend Yield </mat-list-item>
        <mat-list-item> ROCE </mat-list-item>
        <mat-list-item> ROE </mat-list-item>
        <mat-list-item> Debt to equity </mat-list-item>
        <mat-list-item> EPS </mat-list-item>
        <mat-list-item> Reserves </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>